html,
body,
.mainPage,
#__nuxt {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f3f5;
  overflow: hidden;
}
#__nuxt {
  font-family: "jiangxizhuokai";
  font-weight: "400";
  display: flex;
  flex-direction: column;
}
